#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-posts{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}

.logout{
  position: absolute;
  right: 10px;
  top: 10px;
}